.gallery {
    column-count: 3;
    column-width: 33%; 
    margin: 30px 80px;
}
/* .gallery .pics {
    transition: all 350ms ease; 
} */


  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    /* background-size: cover; */
  }


@media (max-width: 450px) {
    .gallery {
        column-count: 1;
        column-width: 100%;
    }
}
