.gallery {
    column-count: 4;
    column-width: 33%; 
    margin: 30px 80px;

}
.example-card{
    cursor: pointer;    

}
  .price{
      float: right;
  }

  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  }


@media (max-width: 450px) {
    .gallery {
        column-count: 1;
        column-width: 100%;
    }
}
